.container-contact {
    background-color:lightgrey;
    height: 650px;
    justify-content: center;
    align-items: center;
    display: flex ;
    flex-direction: column;
    gap: 30px;
    
    
}
.text-contact {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: 700;
       
}
.form-contact {
    display: flex;
    flex-direction: column;
    font-size: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 30px;

}
.input-form {
    border: 1px solid black;
    padding: 15px;
    margin-bottom: 30px;
    width: 400px;
}
.input-form > select {
    border: 1px solid black;
    
}
.button-contact {
    margin-left: 350px; 
    font-size: 14px;
}
.button-contact > button {
    border: 1px solid black;
    border-radius: 10px;
    color: white;
    background-color: black;
    padding: 5px 20px;

}

@media screen and (max-width: 576px) {
    
}

