
.container-2 {
    background-color:lightgrey;
    height: auto;
}
.card {
    display: flex;
    padding: 30px 0px;
    width: 100%;
    justify-content: center;
    align-items: center;
    
}

.post-card-bg {
    width: 800px;
    box-shadow: 0px 0px 10px 0px;
    padding: 50px;
    display: flex;
    gap: 100px;
    background-color: white;

}
.post-card {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.text-1 {
    display: flex;
    width: 330px;
    flex-direction: column;
    gap: 20px;
    text-align:justify ;
}
.personal-data {
    display: flex;
    gap: 20px;
}
.personal-data >button {
    width: 80px;
    padding: 5px;
    border: 1px solid black;
    color: white;
    background-color: black;
    border-radius: 40px;
}
.icon {
    display: flex;
    gap: 30px;
}
.image > img {
    width: 300px;
    height: 350px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.image {
    width: 300px;
    height: 400px;
    margin-left: 50px;
    text-align: center;
    box-shadow: 0px 0px 10px 0px;
    border-radius: 5px;
}

@media  screen and (max-width: 576px) {
    .card {
        margin: 10px;
        
    }
    .post-card-bg {
        display: flex;
        flex-direction: column;
        width: 400px;
        gap: 50px;
        
    }

}
